<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="The classic Minesweeper game">

    <script type="text/javascript" src="../js/main.js"></script>
    <link rel="stylesheet" href="../css/styles.css">
    <title>Minesweeper in Javascript</title>

    <script>var basePath = buildBasePath(); </script>
</head>

<body onload="init(30, 480, 99)">
    <div class="main">
        <div class="title">
            The classic Minesweeper game
        </div>

        <div style="font-style: italic">
            <a class="goHomeLink" href="/mineswipeer/index" title="New Game">New Game</a>
        </div>

        <table id="sqTable" onmouseup="return false">
            <thead>
            <tr>
                <th class="score" colspan="30">
                    <div class="counter" id="mines" th:text="${mineAmount}">0</div>
                    <div class="counter" id="timer">&nbsp;</div>
                    <a href="/mineswipeer/index">
                        <img th:src="${state.name() == 'WON'? '/images/happy.gif': state.name() == 'LOST'? '/images/sad.gif' : '/images/bored.gif'}" />
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="row, iterRow : ${board}">
                    <td oncontextmenu="return false;" class="sq"
                        id="sq-0" th:id="${'sq-' + iterColumn.index + '-' + iterRow.index}"
                        onmousedown="return clickSq(event,this)" th:each="column, iterColumn : ${row}"
                        th:text="${column != 'C'? column : '' }"  th:class="'sq '+${column != ''? 'sqExposed' : ''}">&nbsp;</td>
                </tr>
                <tr th:if="${board.empty}">
                    <td colspan="2"> No Game Available </td>
                </tr>
            </tbody>
        </table>

        <div>
            <p th:text="${state}"></p>
        </div>

        <div style="height: 0px;width: 0px;overflow:hidden;">
            <a id="myAnchor" href="#"></a>
        </div>

    </div>
</body>

</html>