<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="Description" content="The classic Minesweeper game">

    <script type="text/javascript" src="../js/main.js"></script>
    <link  rel="stylesheet" href="../css/styles.css">
    <title>Minesweeper in Javascript</title>

    <script>var basePath = buildBasePath(); </script>
</head>

<body onload="init(30, 480, 99)">
<div class="main">
    <div class="title">
        The classic Minesweeper game
    </div>

    <div style="height: 0px;width: 0px;overflow:hidden;">
        <a id="myAnchor" href="#"></a>
    </div>


    <table id="sqTable" >
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${board.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="row, iterRow : ${board}">
            <td class="sq" id="sq-0" th:id="${'sq-' + iterColumn.index + '-' + iterRow.index}" onmousedown="return clickSq(event,this)" th:each="column, iterColumn : ${row}" th:text="${column}" >&nbsp;</td>
        </tr>
        </tbody>
    </table>

    <div style="font-style: italic">
        <a class="goHomeLink" href="/mineswipeer/index" title="Home Page">Home</a>
    </div>
</div>
</body>
</html>
